[submodule "Project/game-client"]
	path = Project/game-client
	url = https://github.com/diego-hartmann/game-client
[submodule "Project/game-server"]
	path = Project/game-server
	url = https://github.com/diego-hartmann/game-server
[submodule "game-client"]
	path = game-client
	url = https://github.com/diego-hartmann/game-client
[submodule "game-server"]
	path = game-server
	url = https://github.com/diego-hartmann/game-server
